body {
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  color: #c20028;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.table {
  border: 1px solid green;
}

.pub {
  color: #2fb41e;
}

.function__int {
  color: #757575;
}

.ext {
  color: #400cd9;
}

.prv {
  color: #c20028;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-bottom: 40px;
  }
}

.header {
  background-color: #1b2360;
}

.header__nav {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.header-link__img {
  width: 80px;
  height: 20px;
}

.hero {
  background-color: #1b2360;
  margin-bottom: 30px;
}

.hero__container {
  padding-top: 50px;
}

.hero-part1__title {
  padding-left: 20px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: red;
}

.hero-part2__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: aqua;
}

.hero-projekt__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: white;
  margin-top: 50px;
  padding-left: 20px;
}

.hero__github {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 70px;
  color: white;
}

.hero-github__qr {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.hero__date {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: white;
  margin-top: 15px;
}

.hero-web__fiex {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
}

.hero__web {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.01em;
}

.hero-web__link {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.01em;
  margin-left: 5px;
}

.procedure__subitem {
  padding-left: 12px;
}

.terminology__list {
  padding-left: 12px;
}

.detals__data {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  word-break: break-all;
}

.details__item {
  margin-top: 5px;
}

.audit-details__item {
  margin-top: 5px;
}

.audit-details__img {
  width: 70px;
  height: 70px;
}

.audit-details__data {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.wp__img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.function__list {
  padding-left: 12px;
}

.vulnerabilities__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #1b2360;
  text-align: center;
}

.vulnerabilities-table__subtitle {
  background-color: #1b2360;
  color: white;
  height: 50px;
}

.vulnerabilities-table2__line {
  background-color: #C0C0C0;
}/*# sourceMappingURL=main.css.map */