.audit-details__item {
    margin-top: 5px;
}
.audit-details__img {
    width: 70px;
    height: 70px;
}
.audit-details__data {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
}