

.header {
    background-color: #1b2360 ;
}
// .header__nav {
//     background-color: #1b2360 ;
// }

.header__nav {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.header-link__img {
    width: 80px;
    height: 20px;
}







